body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
}

.emi{
  margin-top: 10%;
  height: 100vh;
}

.hlv-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.hlv-calculator {
  width: 100vw;
  max-width: 500px;
  margin: 130px auto;
  background-color: var(--bg-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.hlv-calculator h2 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

.calculator-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  color: var(--main-color);
  font-weight: bold;
}

.input-group input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--off-color);
}

.calculate-button {
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculate-button:hover {
  background-color: #00385c;
}

.result {
  margin-top: 30px;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result h3, h4 {
  margin-bottom: 15px;
  color: var(--main-color);
}

.result-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 678px) {
  .emi{
    margin-top: 10%;
  }
  .hlv-calculator {
    margin: 20px;
    padding: 15px;
  }

  .result-item {
    margin-bottom: 20%;
    font-size: 16px;
  }
}
